<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="postpay PHP test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
